<h1 style='color: rgba(0, 0, 0, 0.6); background: whitesmoke; padding: 25px; border-radius: 25px; text-align: center'>III. Correction des anomalies des données</h1>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
from functools import reduce

In [2]:
dataframe = pd.read_csv('MarocAnnoncesDataset.csv')
dataframe.head(3)

,id,nom d'annonce,nom d'annonceur,téléphone,prix,date d'ajout,ville,visite,année,kilométrage,carburant,puissance,marque,modèle,description
0,8518045,Ford Fiesta a vendre,Chakir adil,060-631-3532,55000 DH,22 Dec-21:00,Rabat,2.0,2005.0,155000,Diesel,NaN,Ford,Fiesta,Une voiture à vendre marque ford Fiesta diesel...
1,8518030,Forf fiesta 2010,said,066-212-8670,65000 DH,22 Dec-21:00,Mohammedia,1.0,2010.0,160000,Essence,7 CV,Ford,Fiesta,Ford fiesta \n\r\n- modèle 2010 \r\n- Couleur ...
2,8518014,Xsara Picasso 2004 à vendre,Houda,062-020-6539,53000 DH,22 Dec-21:00,Casablanca,2.0,2004.0,NaN,Essence,8 CV,Citroen,Xsara Picasso,Je met en vente une Xsara Picasso modèle 2004 ...

In [3]:
initial_size = len(dataframe)
print(f"DataFrame length: {initial_size}")

DataFrame length: 44830

In [4]:
print("\n".join(dataframe.columns))

id
nom d'annonce
nom d'annonceur
téléphone
prix
date d'ajout
ville
visite
année
kilométrage
carburant
puissance
marque
modèle
description

<h3 style='color: rgba(0, 0, 0, 0.6); background: #fddddb; padding: 10px; border-radius: 25px;'>1. Extraction d'article de chaque voiture</h3>

In [5]:
# exist means the value is defined 
# if  kilométrage exist
#     carburant exist or
#     puissance exist or
#     marque exist or
#     modèle exist or
#     description contains one of the words:
#            "car" or "voiture" or "سيارة"  or "طونوبيل" or "tonobil" or "tomobil" or "kilométrage" or "carburant"
#             "puissance" or "marque" or "modèle"

In [6]:
exists = lambda n: dataframe[n].notnull()

exists("kilométrage")

0         True
1         True
2        False
3         True
4        False
         ...
44825    False
44826    False
44827    False
44828    False
44829    False
Name: kilométrage, Length: 44830, dtype: bool

In [7]:
def contains(name, tokens):
    regex = re.compile("|".join(tokens))
    return dataframe[name].str.contains(regex)

contains("description", ["car"])

0        False
1        False
2        False
3        False
4        False
         ...
44825    False
44826    False
44827    False
44828    False
44829    False
Name: description, Length: 44830, dtype: object

In [8]:
dataframe = dataframe[exists("kilométrage") | exists("carburant") | exists("puissance") | exists("marque") | exists("modèle") | contains("description", ["car", "voiture", "سيارة", "طونوبيل", "tonobil", "tomobil", "kilometrage", "kilométrage", "carburant", "puissance", "marque", "modele", "modèle"])]
dataframe

,id,nom d'annonce,nom d'annonceur,téléphone,prix,date d'ajout,ville,visite,année,kilométrage,carburant,puissance,marque,modèle,description
0,8518045,Ford Fiesta a vendre,Chakir adil,060-631-3532,55000 DH,22 Dec-21:00,Rabat,2.0,2005.0,155000,Diesel,NaN,Ford,Fiesta,Une voiture à vendre marque ford Fiesta diesel...
1,8518030,Forf fiesta 2010,said,066-212-8670,65000 DH,22 Dec-21:00,Mohammedia,1.0,2010.0,160000,Essence,7 CV,Ford,Fiesta,Ford fiesta \n\r\n- modèle 2010 \r\n- Couleur ...
2,8518014,Xsara Picasso 2004 à vendre,Houda,062-020-6539,53000 DH,22 Dec-21:00,Casablanca,2.0,2004.0,NaN,Essence,8 CV,Citroen,Xsara Picasso,Je met en vente une Xsara Picasso modèle 2004 ...
3,8517942,Clio 4 bleue,Amine oubriri,061-065-5301,84000 DH,22 Dec-18:40,Casablanca,1.0,2017.0,44000,Diesel,7 CV,Renault,Clio,Toute options\r\nPremière main
5,8517814,OPEL INSIGNIA,MEKKAOUI,063-314-6833,81500 DH,22 Dec-17:05,Casablanca,1.0,2010.0,228000,Diesel,8 CV,Opel,Insignia,OPEL INSIGNIA A VENDRE TOUTE OPTION NOIR prix ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44813,7532955,Jet SKy 1800 FZR,ahmed,063-280-1417,135000 DH,24 Nov-14:16,Casablanca,32.0,NaN,NaN,NaN,NaN,NaN,NaN,je mets en vente un jet sky Yamaha FZR préparé...
44816,7543469,40 zodiac neuf poids entre 92 kg,Ahmed,069-524-2566,200 DH,23 Nov-11:13,Casablanca,14.0,NaN,NaN,NaN,NaN,NaN,NaN,Je mets en vente 40 bateaux gonflable neuf\r\n...
44817,7551218,Jet Ski Rouge & Noir,Karim,066-214-2208,65000 DH,29 Nov-15:57,Casablanca,38.0,NaN,NaN,NaN,NaN,NaN,NaN,"Vend jet ski Rouge & Noir, 900 Ho\r\nDe marque..."
44824,7658749,Zodiac 380cm,Aziz,061-367-3483,25000 DH,25 Nov-0:50,Nador,15.0,NaN,NaN,NaN,NaN,NaN,NaN,Zodiac 380cm marque jolly3 made frence n9iya t...
44825,8438179,Bateau Seadoo Bombardie à vendre,Saad,066-117-7950,130000 DH,13 Oct-19:00,Casablanca,26.0,NaN,NaN,NaN,NaN,NaN,NaN,je vend mon bateau marque Seadoo Bombardie. Mo...

In [9]:
print(f'{initial_size - len(dataframe)} rows have been deleted!')

8208 rows have been deleted!

In [10]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36622 entries, 0 to 44825
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               36622 non-null  int64
 1   nom d'annonce    36622 non-null  object
 2   nom d'annonceur  36621 non-null  object
 3   téléphone        36622 non-null  object
 4   prix             32658 non-null  object
 5   date d'ajout     36622 non-null  object
 6   ville            36584 non-null  object
 7   visite           36622 non-null  float64
 8   année            31564 non-null  float64
 9   kilométrage      26709 non-null  object
 10  carburant        30480 non-null  object
 11  puissance        27850 non-null  object
 12  marque           31399 non-null  object
 13  modèle           31032 non-null  object
 14  description      36622 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 4.5+ MB


<h3 style='color: rgba(0, 0, 0, 0.6); background: #fddddb; padding: 10px; border-radius: 25px;'>2. Cleaning du prix</h3>

In [11]:
no_currency = dataframe["prix"].str.replace(" DH", "")
no_currency

0         55000
1         65000
2         53000
3         84000
5         81500
          ...
44813    135000
44816       200
44817     65000
44824     25000
44825    130000
Name: prix, Length: 36622, dtype: object

In [12]:
dataframe["prix"] = pd.to_numeric(no_currency)
dataframe["prix"]

0         55000.0
1         65000.0
2         53000.0
3         84000.0
5         81500.0
           ...
44813    135000.0
44816       200.0
44817     65000.0
44824     25000.0
44825    130000.0
Name: prix, Length: 36622, dtype: float64

<h3 style='color: rgba(0, 0, 0, 0.6); background: #fddddb; padding: 10px; border-radius: 25px;'>3. Cleaning du date d'ajout</h3>

In [13]:
dataframe["date d'ajout"]

0        22 Dec-21:00
1        22 Dec-21:00
2        22 Dec-21:00
3        22 Dec-18:40
5        22 Dec-17:05
             ...
44813    24 Nov-14:16
44816    23 Nov-11:13
44817    29 Nov-15:57
44824     25 Nov-0:50
44825    13 Oct-19:00
Name: date d'ajout, Length: 36622, dtype: object

In [14]:
dataframe["date d'ajout"][0]

'22 Dec-21:00'

In [15]:
# format
# https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior
str_to_dt = pd.to_datetime(dataframe["date d'ajout"], format='%d %b-%H:%M')
str_to_dt

0       1900-12-22 21:00:00
1       1900-12-22 21:00:00
2       1900-12-22 21:00:00
3       1900-12-22 18:40:00
5       1900-12-22 17:05:00
                ...
44813   1900-11-24 14:16:00
44816   1900-11-23 11:13:00
44817   1900-11-29 15:57:00
44824   1900-11-25 00:50:00
44825   1900-10-13 19:00:00
Name: date d'ajout, Length: 36622, dtype: datetime64[ns]

In [16]:
dataframe["pub_hour"] = str_to_dt.dt.hour
dataframe["pub_hour"]

0        21
1        21
2        21
3        18
5        17
         ..
44813    14
44816    11
44817    15
44824     0
44825    19
Name: pub_hour, Length: 36622, dtype: int64

In [17]:
dataframe["pub_day"] = str_to_dt.dt.day
dataframe["pub_day"]

0        22
1        22
2        22
3        22
5        22
         ..
44813    24
44816    23
44817    29
44824    25
44825    13
Name: pub_day, Length: 36622, dtype: int64

In [18]:
dataframe["pub_month"] = str_to_dt.dt.month
dataframe["pub_month"]

0        12
1        12
2        12
3        12
5        12
         ..
44813    11
44816    11
44817    11
44824    11
44825    10
Name: pub_month, Length: 36622, dtype: int64

In [19]:
dataframe.drop("date d'ajout", axis=1, inplace=True)
dataframe

,id,nom d'annonce,nom d'annonceur,téléphone,prix,ville,visite,année,kilométrage,carburant,puissance,marque,modèle,description,pub_hour,pub_day,pub_month
0,8518045,Ford Fiesta a vendre,Chakir adil,060-631-3532,55000.0,Rabat,2.0,2005.0,155000,Diesel,NaN,Ford,Fiesta,Une voiture à vendre marque ford Fiesta diesel...,21,22,12
1,8518030,Forf fiesta 2010,said,066-212-8670,65000.0,Mohammedia,1.0,2010.0,160000,Essence,7 CV,Ford,Fiesta,Ford fiesta \n\r\n- modèle 2010 \r\n- Couleur ...,21,22,12
2,8518014,Xsara Picasso 2004 à vendre,Houda,062-020-6539,53000.0,Casablanca,2.0,2004.0,NaN,Essence,8 CV,Citroen,Xsara Picasso,Je met en vente une Xsara Picasso modèle 2004 ...,21,22,12
3,8517942,Clio 4 bleue,Amine oubriri,061-065-5301,84000.0,Casablanca,1.0,2017.0,44000,Diesel,7 CV,Renault,Clio,Toute options\r\nPremière main,18,22,12
5,8517814,OPEL INSIGNIA,MEKKAOUI,063-314-6833,81500.0,Casablanca,1.0,2010.0,228000,Diesel,8 CV,Opel,Insignia,OPEL INSIGNIA A VENDRE TOUTE OPTION NOIR prix ...,17,22,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44813,7532955,Jet SKy 1800 FZR,ahmed,063-280-1417,135000.0,Casablanca,32.0,NaN,NaN,NaN,NaN,NaN,NaN,je mets en vente un jet sky Yamaha FZR préparé...,14,24,11
44816,7543469,40 zodiac neuf poids entre 92 kg,Ahmed,069-524-2566,200.0,Casablanca,14.0,NaN,NaN,NaN,NaN,NaN,NaN,Je mets en vente 40 bateaux gonflable neuf\r\n...,11,23,11
44817,7551218,Jet Ski Rouge & Noir,Karim,066-214-2208,65000.0,Casablanca,38.0,NaN,NaN,NaN,NaN,NaN,NaN,"Vend jet ski Rouge & Noir, 900 Ho\r\nDe marque...",15,29,11
44824,7658749,Zodiac 380cm,Aziz,061-367-3483,25000.0,Nador,15.0,NaN,NaN,NaN,NaN,NaN,NaN,Zodiac 380cm marque jolly3 made frence n9iya t...,0,25,11
44825,8438179,Bateau Seadoo Bombardie à vendre,Saad,066-117-7950,130000.0,Casablanca,26.0,NaN,NaN,NaN,NaN,NaN,NaN,je vend mon bateau marque Seadoo Bombardie. Mo...,19,13,10

<h3 style='color: rgba(0, 0, 0, 0.6); background: #fddddb; padding: 10px; border-radius: 25px;'>4. Cleaning de l'année</h3>

In [20]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36622 entries, 0 to 44825
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               36622 non-null  int64
 1   nom d'annonce    36622 non-null  object
 2   nom d'annonceur  36621 non-null  object
 3   téléphone        36622 non-null  object
 4   prix             32658 non-null  float64
 5   ville            36584 non-null  object
 6   visite           36622 non-null  float64
 7   année            31564 non-null  float64
 8   kilométrage      26709 non-null  object
 9   carburant        30480 non-null  object
 10  puissance        27850 non-null  object
 11  marque           31399 non-null  object
 12  modèle           31032 non-null  object
 13  description      36622 non-null  object
 14  pub_hour         36622 non-null  int64
 15  pub_day          36622 non-null  int64
 16  pub_month        36622 non-null  int64
dtypes: float64(3), int64(4), object(10)
memory usage: 6.3+ MB

In [21]:
type(dataframe["année"][0])

numpy.float64

In [22]:
from datetime import date

date.today().year

2021

In [23]:
dataframe["age d'article"] = date.today().year - dataframe["année"]

In [24]:
dataframe["age d'article"]

0        16.0
1        11.0
2        17.0
3         4.0
5        11.0
         ...
44813     NaN
44816     NaN
44817     NaN
44824     NaN
44825     NaN
Name: age d'article, Length: 36622, dtype: float64

In [25]:
dataframe

,id,nom d'annonce,nom d'annonceur,téléphone,prix,ville,visite,année,kilométrage,carburant,puissance,marque,modèle,description,pub_hour,pub_day,pub_month,age d'article
0,8518045,Ford Fiesta a vendre,Chakir adil,060-631-3532,55000.0,Rabat,2.0,2005.0,155000,Diesel,NaN,Ford,Fiesta,Une voiture à vendre marque ford Fiesta diesel...,21,22,12,16.0
1,8518030,Forf fiesta 2010,said,066-212-8670,65000.0,Mohammedia,1.0,2010.0,160000,Essence,7 CV,Ford,Fiesta,Ford fiesta \n\r\n- modèle 2010 \r\n- Couleur ...,21,22,12,11.0
2,8518014,Xsara Picasso 2004 à vendre,Houda,062-020-6539,53000.0,Casablanca,2.0,2004.0,NaN,Essence,8 CV,Citroen,Xsara Picasso,Je met en vente une Xsara Picasso modèle 2004 ...,21,22,12,17.0
3,8517942,Clio 4 bleue,Amine oubriri,061-065-5301,84000.0,Casablanca,1.0,2017.0,44000,Diesel,7 CV,Renault,Clio,Toute options\r\nPremière main,18,22,12,4.0
5,8517814,OPEL INSIGNIA,MEKKAOUI,063-314-6833,81500.0,Casablanca,1.0,2010.0,228000,Diesel,8 CV,Opel,Insignia,OPEL INSIGNIA A VENDRE TOUTE OPTION NOIR prix ...,17,22,12,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44813,7532955,Jet SKy 1800 FZR,ahmed,063-280-1417,135000.0,Casablanca,32.0,NaN,NaN,NaN,NaN,NaN,NaN,je mets en vente un jet sky Yamaha FZR préparé...,14,24,11,NaN
44816,7543469,40 zodiac neuf poids entre 92 kg,Ahmed,069-524-2566,200.0,Casablanca,14.0,NaN,NaN,NaN,NaN,NaN,NaN,Je mets en vente 40 bateaux gonflable neuf\r\n...,11,23,11,NaN
44817,7551218,Jet Ski Rouge & Noir,Karim,066-214-2208,65000.0,Casablanca,38.0,NaN,NaN,NaN,NaN,NaN,NaN,"Vend jet ski Rouge & Noir, 900 Ho\r\nDe marque...",15,29,11,NaN
44824,7658749,Zodiac 380cm,Aziz,061-367-3483,25000.0,Nador,15.0,NaN,NaN,NaN,NaN,NaN,NaN,Zodiac 380cm marque jolly3 made frence n9iya t...,0,25,11,NaN
44825,8438179,Bateau Seadoo Bombardie à vendre,Saad,066-117-7950,130000.0,Casablanca,26.0,NaN,NaN,NaN,NaN,NaN,NaN,je vend mon bateau marque Seadoo Bombardie. Mo...,19,13,10,NaN

<h3 style='color: rgba(0, 0, 0, 0.6); background: #fddddb; padding: 10px; border-radius: 25px;'>4. Cleaning de la puissance fiscale</h3>

In [26]:
dataframe["puissance"]

0         NaN
1        7 CV
2        8 CV
3        7 CV
5        8 CV
         ...
44813     NaN
44816     NaN
44817     NaN
44824     NaN
44825     NaN
Name: puissance, Length: 36622, dtype: object

In [27]:
dataframe[dataframe["puissance"].notnull() & dataframe["puissance"].str.contains(" CV")]["puissance"]

1         7 CV
2         8 CV
3         7 CV
5         8 CV
6         6 CV
         ...
43966    10 CV
43967    12 CV
43968     8 CV
43969     8 CV
43971     8 CV
Name: puissance, Length: 2239, dtype: object

In [28]:
dataframe[dataframe["puissance"].notnull() & dataframe["puissance"].str.contains(" chevaux")]["puissance"]

1410     08-10 chevaux
1495     05-07 chevaux
1502     08-10 chevaux
1550     08-10 chevaux
1578     08-10 chevaux
             ...
43882    05-07 chevaux
43883    11-13 chevaux
44352    05-07 chevaux
44421    05-07 chevaux
44422    05-07 chevaux
Name: puissance, Length: 25596, dtype: object

In [29]:
dataframe[dataframe["puissance"].notnull() & ~(dataframe["puissance"].str.contains(" chevaux") | dataframe["puissance"].str.contains(" CV"))]["puissance"]

3032        05-07 خيول
5031      11-13 horses
22706     05-07 horses
24956     05-07 الخيول
29287       05-07 خيول
41506    08-10 paarden
41533     08-10 horses
41545        13 horses
41623        13 horses
41958     11-13 horses
41969     11-13 horses
41970     08-10 horses
42066     11-13 horses
42067     05-07 horses
42108     08-10 horses
Name: puissance, dtype: object

In [30]:
dataframe["puissance"] = dataframe["puissance"].str.replace('خيول', 'chevaux')

In [31]:
dataframe["puissance"] = dataframe["puissance"].str.replace('horses', 'chevaux')

In [32]:
dataframe[dataframe["puissance"].notnull() & ~(dataframe["puissance"].str.contains(" chevaux") | dataframe["puissance"].str.contains(" CV"))]["puissance"]

24956    05-07 الchevaux
41506      08-10 paarden
Name: puissance, dtype: object

In [33]:
dataframe["puissance"] = dataframe["puissance"].str.replace(r" (CV|chevaux|الchevaux|paarden)", '')
dataframe["puissance"]

0        NaN
1          7
2          8
3          7
5          8
        ...
44813    NaN
44816    NaN
44817    NaN
44824    NaN
44825    NaN
Name: puissance, Length: 36622, dtype: object

In [34]:
import functools

numbers = [1, 2, 3, 4]
functools.reduce(lambda p,c: p + c, numbers)

10

In [35]:
def transform_to_number(x):
    if x != x: # NaN
        return x
    elif "-" not in x: # '8'
        return float(x)
    return functools.reduce(lambda p,c: (int(p) + int(c)) / 2, x.split("-"))

dataframe["puissance"] = dataframe["puissance"].apply(transform_to_number)
dataframe["puissance"]

0        NaN
1        7.0
2        8.0
3        7.0
5        8.0
        ...
44813    NaN
44816    NaN
44817    NaN
44824    NaN
44825    NaN
Name: puissance, Length: 36622, dtype: float64

In [36]:
dataframe

,id,nom d'annonce,nom d'annonceur,téléphone,prix,ville,visite,année,kilométrage,carburant,puissance,marque,modèle,description,pub_hour,pub_day,pub_month,age d'article
0,8518045,Ford Fiesta a vendre,Chakir adil,060-631-3532,55000.0,Rabat,2.0,2005.0,155000,Diesel,NaN,Ford,Fiesta,Une voiture à vendre marque ford Fiesta diesel...,21,22,12,16.0
1,8518030,Forf fiesta 2010,said,066-212-8670,65000.0,Mohammedia,1.0,2010.0,160000,Essence,7.0,Ford,Fiesta,Ford fiesta \n\r\n- modèle 2010 \r\n- Couleur ...,21,22,12,11.0
2,8518014,Xsara Picasso 2004 à vendre,Houda,062-020-6539,53000.0,Casablanca,2.0,2004.0,NaN,Essence,8.0,Citroen,Xsara Picasso,Je met en vente une Xsara Picasso modèle 2004 ...,21,22,12,17.0
3,8517942,Clio 4 bleue,Amine oubriri,061-065-5301,84000.0,Casablanca,1.0,2017.0,44000,Diesel,7.0,Renault,Clio,Toute options\r\nPremière main,18,22,12,4.0
5,8517814,OPEL INSIGNIA,MEKKAOUI,063-314-6833,81500.0,Casablanca,1.0,2010.0,228000,Diesel,8.0,Opel,Insignia,OPEL INSIGNIA A VENDRE TOUTE OPTION NOIR prix ...,17,22,12,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44813,7532955,Jet SKy 1800 FZR,ahmed,063-280-1417,135000.0,Casablanca,32.0,NaN,NaN,NaN,NaN,NaN,NaN,je mets en vente un jet sky Yamaha FZR préparé...,14,24,11,NaN
44816,7543469,40 zodiac neuf poids entre 92 kg,Ahmed,069-524-2566,200.0,Casablanca,14.0,NaN,NaN,NaN,NaN,NaN,NaN,Je mets en vente 40 bateaux gonflable neuf\r\n...,11,23,11,NaN
44817,7551218,Jet Ski Rouge & Noir,Karim,066-214-2208,65000.0,Casablanca,38.0,NaN,NaN,NaN,NaN,NaN,NaN,"Vend jet ski Rouge & Noir, 900 Ho\r\nDe marque...",15,29,11,NaN
44824,7658749,Zodiac 380cm,Aziz,061-367-3483,25000.0,Nador,15.0,NaN,NaN,NaN,NaN,NaN,NaN,Zodiac 380cm marque jolly3 made frence n9iya t...,0,25,11,NaN
44825,8438179,Bateau Seadoo Bombardie à vendre,Saad,066-117-7950,130000.0,Casablanca,26.0,NaN,NaN,NaN,NaN,NaN,NaN,je vend mon bateau marque Seadoo Bombardie. Mo...,19,13,10,NaN

<h3 style='color: rgba(0, 0, 0, 0.6); background: #fddddb; padding: 10px; border-radius: 25px;'>4. Cleaning du carburant</h3>

In [37]:
dataframe["carburant"].unique()

array(['Diesel', 'Essence', nan, 'ديزل', 'Gasoline', 'Petrol'],
      dtype=object)

In [38]:
dataframe["carburant"] = dataframe["carburant"].str.replace('ديزل', 'Diesel')
dataframe["carburant"].unique()

array(['Diesel', 'Essence', nan, 'Gasoline', 'Petrol'], dtype=object)

In [39]:
def label_encoding(x):
    if x != x: # NaN
        return x
    return 0 if x == 'Diesel' else 1
    
dataframe["carburant"] = dataframe["carburant"].apply(label_encoding)
dataframe["carburant"].unique()

array([ 0.,  1., nan])

In [40]:
dataframe["carburant"]

0        0.0
1        1.0
2        1.0
3        0.0
5        0.0
        ...
44813    NaN
44816    NaN
44817    NaN
44824    NaN
44825    NaN
Name: carburant, Length: 36622, dtype: float64

In [41]:
dataframe

,id,nom d'annonce,nom d'annonceur,téléphone,prix,ville,visite,année,kilométrage,carburant,puissance,marque,modèle,description,pub_hour,pub_day,pub_month,age d'article
0,8518045,Ford Fiesta a vendre,Chakir adil,060-631-3532,55000.0,Rabat,2.0,2005.0,155000,0.0,NaN,Ford,Fiesta,Une voiture à vendre marque ford Fiesta diesel...,21,22,12,16.0
1,8518030,Forf fiesta 2010,said,066-212-8670,65000.0,Mohammedia,1.0,2010.0,160000,1.0,7.0,Ford,Fiesta,Ford fiesta \n\r\n- modèle 2010 \r\n- Couleur ...,21,22,12,11.0
2,8518014,Xsara Picasso 2004 à vendre,Houda,062-020-6539,53000.0,Casablanca,2.0,2004.0,NaN,1.0,8.0,Citroen,Xsara Picasso,Je met en vente une Xsara Picasso modèle 2004 ...,21,22,12,17.0
3,8517942,Clio 4 bleue,Amine oubriri,061-065-5301,84000.0,Casablanca,1.0,2017.0,44000,0.0,7.0,Renault,Clio,Toute options\r\nPremière main,18,22,12,4.0
5,8517814,OPEL INSIGNIA,MEKKAOUI,063-314-6833,81500.0,Casablanca,1.0,2010.0,228000,0.0,8.0,Opel,Insignia,OPEL INSIGNIA A VENDRE TOUTE OPTION NOIR prix ...,17,22,12,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44813,7532955,Jet SKy 1800 FZR,ahmed,063-280-1417,135000.0,Casablanca,32.0,NaN,NaN,NaN,NaN,NaN,NaN,je mets en vente un jet sky Yamaha FZR préparé...,14,24,11,NaN
44816,7543469,40 zodiac neuf poids entre 92 kg,Ahmed,069-524-2566,200.0,Casablanca,14.0,NaN,NaN,NaN,NaN,NaN,NaN,Je mets en vente 40 bateaux gonflable neuf\r\n...,11,23,11,NaN
44817,7551218,Jet Ski Rouge & Noir,Karim,066-214-2208,65000.0,Casablanca,38.0,NaN,NaN,NaN,NaN,NaN,NaN,"Vend jet ski Rouge & Noir, 900 Ho\r\nDe marque...",15,29,11,NaN
44824,7658749,Zodiac 380cm,Aziz,061-367-3483,25000.0,Nador,15.0,NaN,NaN,NaN,NaN,NaN,NaN,Zodiac 380cm marque jolly3 made frence n9iya t...,0,25,11,NaN
44825,8438179,Bateau Seadoo Bombardie à vendre,Saad,066-117-7950,130000.0,Casablanca,26.0,NaN,NaN,NaN,NaN,NaN,NaN,je vend mon bateau marque Seadoo Bombardie. Mo...,19,13,10,NaN

<h3 style='color: rgba(0, 0, 0, 0.6); background: #fddddb; padding: 10px; border-radius: 25px;'>5. Cleaning du kilométrage</h3>

In [42]:
dataframe["kilométrage"].unique()

array(['155000', '160000', nan, ..., '53200', '2750000', '82900'],
      dtype=object)

In [43]:
len(dataframe["kilométrage"].unique())

3666

In [44]:
list(dataframe[dataframe["kilométrage"].notnull() & (dataframe["kilométrage"].str.contains(r"^\d+$") == False)]["kilométrage"])

['135000 Km',
 '111 866',
 '100000-102000',
 '440 000',
 '140 000 ',
 '221925 km',
 '240 000',
 '52 000',
 '14.5',
 '200 000',
 '179 000',
 'Xxxxx',
 '167 000',
 '172 000',
 '25 000',
 '180000km',
 '300000km',
 '165 000',
 '250000 Km',
 '15 000',
 '11 500',
 '70 000',
 '200000km',
 '160000 KM',
 '115 000 ',
 '295 000',
 '180 000',
 '170 000',
 '140k',
 '200 000',
 '129 000',
 '84.000km',
 '190 000',
 '170 000',
 '112 000',
 '160 000',
 '175000km ',
 '136.5',
 '170 000',
 '160000-170000',
 '57000km',
 '158 000 km',
 '170 000',
 '130000km',
 '70 000',
 '193 000',
 '108 400',
 '52 000',
 '220 000',
 '199 000',
 '369 000',
 '60000km ',
 '170000 KM',
 '166 000',
 '100,000',
 '160000-169000',
 '60000 km',
 '60000 km',
 '180 000',
 '160000km ',
 '146 000',
 '140alf',
 '103,000',
 '.',
 '62000km',
 '61 000',
 '8 700',
 '180 000',
 '62000km',
 '85 000 ',
 '80000 km',
 '93 000',
 '129 684',
 '132 000',
 '167 000',
 '16,500',
 '120 000',
 '200000-240000',
 '85 000',
 '150 000',
 '65000-69000',
 '200 000',
 '150 000',
 '18 000',
 '250 000',
 '100 000 km',
 '300-350',
 'WWW',
 '145...',
 '350 000',
 '258000km ',
 '170 000',
 '100 000',
 '130 000',
 '30000-35000',
 '130 000',
 '200000-229000 km',
 '290867 KM',
 '100 000',
 '240 000',
 '90 000 - 94 999',
 '70 000',
 '94 200',
 '70 000',
 '145...',
 '360 000',
 '281 000',
 '180 000',
 '58 000',
 '59000km',
 '13000 alf',
 '124 000',
 '140 000',
 '70 000',
 '158.000km',
 '122 OOO',
 '55 000',
 '62.000km',
 '140 000 km',
 '-5000',
 '130 000',
 '80 000 ',
 '10000-14000 km',
 '145 192',
 '164000 KM',
 '65,000',
 '26 000 km',
 '11000 km',
 '49 000 km',
 '99000 ET 100000',
 '148 000',
 '45000 km',
 '130 000',
 '70000 km',
 '258 000',
 '120 000',
 '145 000',
 '270000 km',
 '25000/29999',
 '140 000',
 '104 000',
 '120000/129000',
 '...',
 '50 000',
 '140 000.00',
 '88 000km',
 '100 000',
 '187 131 ',
 '56 500 km',
 '88 000',
 '140 000',
 '61000km',
 '180 000',
 '100 000 km',
 '104000 km',
 '160 000',
 '76000km',
 '180 000',
 '-',
 '190000-199999',
 '164 000',
 '207.000 KM',
 '100 000',
 '140 000 km',
 '158 000',
 '430 000',
 '150 000',
 '240 000 KM',
 '139 999 ',
 '2549.1',
 '155 000',
 '59 900',
 '73 225',
 '100 000',
 '110 000',
 '110.000,00',
 '17 000 ',
 '250 000-300000',
 '230 000',
 '46 000 Km',
 '44000KM',
 '200 000',
 '250 000',
 '200 000',
 '⁴3333',
 'pas précisé ',
 '250 000',
 '250000-255000',
 '29 999',
 ' 59 999 ',
 '119 999',
 '100 000 - 109 999',
 '94 000',
 '60 000',
 '35 000',
 '332 100',
 '77000km',
 '105 000',
 '120 000',
 '170 000',
 '166-444',
 '100 000',
 '300000 KM',
 '36000 km',
 '300000-340000',
 ' 250 000 - 299 999',
 '99 000',
 '140 000',
 '55 000 - 59 999',
 '90000-94000',
 '150000-160000',
 '199 200',
 'Mazda2 a vendre',
 'xx',
 '123000 km',
 '170000-180000',
 '140000-149999',
 '20000km',
 '111000 km',
 '20000km',
 '200000-249000',
 '86 000',
 '99 000',
 '210 000',
 '110 000',
 '90 000 km',
 '144 000',
 'xxxxxxxxxx',
 '200 000',
 '190 000',
 '185 000',
 '150 000',
 '100 000',
 '110 000',
 '11 000 ',
 '91000 km',
 '160 000 - 165 000',
 '160 000',
 '100 000 - 109 999',
 '100 000 - 109 999',
 '40 000',
 '88 000',
 'xxxxxxxxx',
 '-----------------',
 '>300000',
 '130000-140000',
 '200 000',
 '40 000',
 '82 000 km',
 '110 614 km',
 '190 000',
 '162 000',
 '9O',
 '300 000',
 '150000km',
 '200000 environ',
 '180.000 km',
 '138 000',
 '90000 KM',
 '150 000 - 160 000',
 '40 000',
 '155 000',
 '150 00',
 '40 000',
 '     200 000 - 249 999 ',
 '------',
 '154 000',
 '123 000',
 '58000 km',
 '160 000 ',
 '74 000',
 '150-670',
 '200000 environ',
 '220 000',
 '14000km',
 '126000 km',
 '201400 km',
 '1 40 000',
 '201400 km',
 '130 000 km',
 '24000-29000',
 '55000km',
 '25000-30000',
 '153000 KM',
 '26000  km',
 '130 000',
 '220 000',
 '126000 km',
 '95 000',
 '133.000 km',
 '75000f',
 '260 539',
 '90 000',
 '190 000 - 199 999',
 '105000 km',
 '350 000-399 999',
 '101 000',
 '250 000',
 '80989-89989',
 '200 000',
 '160 000 - 169 999',
 '110 000',
 '79 750',
 '-120000',
 '182 000 km',
 '70000-75000',
 '35 000',
 '29 000 _ 30 000',
 '168 000',
 '180000-189999',
 '68 000',
 '100 000',
 '180 000',
 '170 000',
 '11000 119999',
 '200-249000',
 '200 000',
 '150 000/159000',
 '-----',
 '96 000 km',
 '120 000',
 '180 000',
 '75 000 - 79 999',
 '200 000',
 '20 000',
 '180 000',
 '110000 km',
 '99 000',
 '69000 KM',
 '120000klm',
 '40000 km',
 '145000 KM',
 '97 000',
 '10 000 - 14 999',
 '18000km',
 'XXXXXXXXXXXX',
 '145000 KM',
 '60 000',
 '117000 km',
 '60 000',
 '200 000 0000',
 '92000 KM',
 'Moyen kilometrage',
 '---------',
 '180 000',
 'Mazda2 a vendre',
 '99 000',
 ' 250 000 - 299 999',
 '36000 km',
 '300000 KM',
 '120 000',
 '105 000',
 '60 000',
 '99 000',
 '60 000 KM',
 '130 000',
 '40000-70000',
 'entre 35km et 39km',
 '111 000 KM',
 '0 - 999',
 '200 000',
 '30 000',
 '188 000',
 '159 000',
 '88000km',
 '188 000',
 '150 000',
 '100000km',
 '81000km',
 '130 000 km',
 '22000-64000',
 '158 000',
 '100 000 - 109 000',
 '76000 KM',
 '134OOO',
 '95000-99999',
 '100000 KM',
 '74000km',
 '102000kms',
 '180 000',
 '155 000',
 '150000-159000',
 '68000km',
 '85000 km',
 '99 000',
 '120 000',
 '30000 - 29999',
 '190 000 - 199 999',
 '129 000',
 '72000km',
 '83 000',
 '100 000',
 '200000 - 250000',
 '95000-99000',
 '81.000km',
 '60000km',
 '94 0000',
 '20000klm',
 '75000-80000',
 '68 000',
 '70000 km',
 '100 000',
 '121 000',
 '158 000 KM',
 '118000km',
 '120000-130000',
 '72 000',
 '200 000 Km',
 '75 000 - 79 999',
 '95000-99000',
 '95 757',
 '70000 km',
 '70000-74000',
 '138000km',
 '200 000',
 '350 000',
 '171682km',
 '31000km',
 '92 000',
 '200 000 km',
 '240000-244000',
 '180 000',
 '120 000.00',
 '227000km',
 '36 000',
 '82OOO',
 '249 999',
 '350 000',
 '?',
 '0-100',
 '170 000',
 '92.000km',
 '16 900 ',
 '84 000',
 '246452km',
 '22000-64000',
 '178 000',
 '190 0000',
 '190 000 - 199 999',
 '200 000',
 '190 000 - 199 999',
 '150000/190000',
 '240 000',
 '88000km',
 '81000 km',
 '150 000',
 '5000_9999',
 '138000 km',
 '160 000',
 '83 000',
 '200 000',
 '75 000',
 '85 000 - 89 999',
 '130 000',
 '170000-179000',
 '72400 km',
 '62000-65000',
 '22000-64000',
 '110000-115000',
 '50 000 - 54 999',
 '177 000',
 '110000-115000',
 '31.5',
 'xxxxxxxxxxxxxxxxxx',
 '63 800',
 '31000km',
 '110 000 ',
 '150 000',
 '58 850',
 '93 000',
 '143 000',
 'plus que 100 000 km',
 '************************',
 '170 000 - 179 999',
 '200000 km',
 '50 000',
 '150.000.km',
 '125 000',
 '200 000',
 '188 000',
 '85000-90000',
 '150.000.km',
 '1,200',
 '88 000',
 '180 000',
 '100 000',
 '260 000',
 'plus que 100 000',
 '200 000',
 '177 000',
 '84 000',
 '60.000 kh/m',
 '0 km/',
 '0 km/',
 '0km',
 'XXXXXX',
 '100000-109999',
 '188 000',
 '43000km',
 '15000-20000km',
 '140 000 - 149 999',
 '65000Km',
 '1-4099km',
 '160 000',
 '85 000 - 89 999',
 '20 000',
 '     40 000 - 44 999 ',
 '180000-189000',
 '40 000',
 '180 000',
 '110000-1190000',
 '80000_90000',
 '67 000  km',
 '83 000',
 '48000KM',
 '162000 KM',
 '44000kms',
 '129000_136000',
 '45 000',
 '113OOO',
 '190 000 - 199 999',
 '83000Km',
 '160000 KM',
 '59 000 ',
 '75 000,79999',
 '70000 kms',
 '73 000',
 '51 200',
 '132  00',
 '50000-100000',
 '119000 Km',
 '150 000',
 '78 000',
 '78 000',
 '120 000',
 '61000 km',
 '200 000',
 '155 000 KM',
 '38 369 ',
 '52000km',
 '34 000 KM ',
 '24 600',
 '171 000',
 '133 000',
 '47 000km',
 '51 000',
 '160 000 - 169 999',
 '24 000',
 '76 000',
 '45000-48000',
 '217000 KMS',
 '98000 km',
 '195354 km',
 '83 000',
 '110 000',
 '141 052',
 '131 000 ',
 '178 000',
 '140000km',
 '140 000',
 '250 000 249999',
 '57000km',
 '65000-69000',
 '20 000km',
 '92 800',
 '100 000',
 '20 0000',
 '160 000',
 '129000km',
 '56 000km',
 '95000 km',
 '170 000',
 '56 000km',
 '100 000 - 109 999',
 '250 000 249999',
 '90 000 - 94 999',
 '200000-240000',
 '56 000km',
 '60000km',
 '200000-290000',
 '200 000',
 '160 000',
 '248 000',
 '71 000km',
 '56 000km',
 '53xxx',
 '220 000',
 '99 000 000',
 '250 000',
 'xxxxx',
 '110 000 KM',
 '280 000',
 '86000k',
 '128 000',
 '250 000',
 '250 000 249999',
 '68 0 0 0 ',
 '000 0254654005454',
 '39 000',
 '120 000',
 '79 000',
 '0 - 4 999',
 '56 000km',
 '270 000',
 '125 000',
 ' 130 000',
 '150000-160000',
 '90000-94000',
 '250 000',
 '250000-255000',
 '200 000',
 '17 000 ',
 '2549.1',
 '250 000',
 'PRESQUE 160000 ',
 '80000km',
 '65 000',
 '200 000',
 '109 000',
 '165 000 km',
 '90 0000',
 '150 000',
 '165 00',
 '15 000',
 '174 000',
 '80 0000',
 '70 000 ',
 '40000 - 44999',
 '18 000',
 '120 000',
 '110 000km',
 '139 000',
 '230 000',
 '81000_82000',
 '170 000km',
 '90 000',
 '100000 KM',
 '100 000Km',
 'ma3arafch bi dabte',
 '270 000',
 'Moins de 140000 Km',
 '200 000',
 '200 000-200 499',
 '102 000',
 '89 000',
 '21 000',
 '80 0000',
 '69000 Km',
 '160 000',
 '21000km',
 '200 000 - 250 000',
 '97 000',
 '250 000',
 '173000KM',
 '99999km',
 '120 000',
 '200000 a 250000',
 '130 000- 139 999',
 '272 000',
 '100 000',
 '170000/190000',
 '40000-45000',
 '30 000',
 '180 000',
 '133000 KM',
 '250 000',
 '148 600',
 '120 000',
 '228 000',
 '270 000',
 '160 000-169 999',
 '250 000',
 '100 000',
 '191100KM',
 '250 000',
 '100000-105000',
 '323000 KM',
 '157 000',
 '120 000',
 '84 000',
 '300 000',
 '40 000',
 '-',
 '43000 km',
 '55000 KM',
 '200 000',
 '36000 KM',
 '65000/70000',
 '70 000 - 74 999',
 '139000-139999',
 '82 000,00 km',
 '160000-169000',
 '110 000',
 '30 000',
 '120 000',
 '300 000',
 '24 000',
 '38 000',
 '100 000 - 109 999',
 '200 000',
 '300 000',
 '135.5',
 '170 000',
 '3E+13',
 '170000-179000',
 '100 000',
 '109 000',
 '200 000km',
 '47800km',
 '260 000',
 '180000 km',
 '120 000',
 'plus de 100000',
 'plus de 5000',
 '10000-14999',
 '119 000',
 '*******',
 '200 000',
 '76000 km',
 '33 000',
 '230 000',
 '90 000',
 '15 000',
 '90 000',
 '90 000',
 '80 000km',
 '80 000km',
 '260 000',
 '25 000',
 '44 700',
 '95 000 - 99 999',
 '180000km',
 '70 000 - 74 999',
 'en défaut',
 '170000km',
 '200 000',
 '200 000 - 249 999',
 '213 000',
 '200 000 - 249 999',
 '88.94',
 '159 999',
 '190 000 - 199 999',
 '200000 - 250000',
 '200000 - 250000',
 '300 000',
 '88 000',
 '160 000',
 '1.11111E+16',
 '13000 KM',
 '150 000',
 '110000-120000',
 '40 000',
 'inférieure à 77000',
 '90000-94999',
 '48000km',
 '178000 KM',
 '20 000 - 24 999',
 '120 000',
 '150000 KM',
 '75 000',
 '60 000',
 '100000-110000',
 '35000-39000',
 '151 500',
 '39 000',
 '180000km',
 '45 000',
 '140 000 - 145 000',
 '0 - 4 999',
 '103 700',
 '60 000',
 '145 000',
 '110 000 ',
 '110 000-119 999',
 '110 000-119 999',
 '110 000-119 999',
 '40 000 ',
 '200 000',
 '200 000',
 '205 000',
 '67.000 km',
 '192 000',
 '55000 - 59999',
 '86000km',
 '80 000 - 84 999',
 '16000-169000',
 '24 000',
 '400 000',
 '80000/85000klm',
 '85000-89999',
 '246 000',
 '300 000 - 349 000',
 '150000-159',
 '110 778',
 '400000km',
 '200 000 kms',
 '200 000',
 '108 000',
 '25 000',
 '90000km',
 '20000-24000',
 '110 000-119 999',
 '55 000 km',
 '21 000',
 '200 000',
 '86000 km',
 '140 000',
 '150000-160000',
 '250 000',
 '10500 km',
 '85000-90000',
 '60 000',
 '170 000 km',
 '32 800',
 '247OOO',
 '100.000.000 KM',
 '101 000',
 '88000KM',
 '87 000',
 '150 000',
 'Moin 2000',
 '129 000',
 '27 000',
 '10.0000km',
 '119 000',
 '160 000',
 '100 000',
 '1E+18',
 '73 000',
 '160000-169000',
 '184000km',
 '140000-145000',
 '145 000',
 '200000km',
 '230 000',
 '300 000',
 '98 000',
 '46500 km',
 '160 000',
 '40000km',
 '30 000',
 '95000 km',
 '⁴3333',
 '44000KM',
 '110.000,00',
 '180000-1900000',
 '240 000',
 '100 000',
 '92000 KM',
 '38 000',
 '100 000',
 '5 000 - 9 999',
 '62000km',
 '140 000',
 '103 000',
 '199 826 ',
 '56000 km',
 '290000KM',
 '70000 KM',
 '70000 KM',
 '200 000',
 '160 000',
 '200000-250000',
 '130000km -',
 '2400O',
 '87 000 ',
 '110 000',
 '98/99',
 '100 000',
 '108 000',
 '54 000',
 '144000 km ',
 '90 000 - 94 999',
 '180 000',
 '--',
 '168.528.klm',
 '11 200',
 '20 000 - 24 999',
 '124 000',
 '119 000 KM',
 '80 0000',
 '--------',
 '100 900',
 '172 000',
 '67000 Km /70000 Km',
 '80 000',
 '(16164 km)',
 '230000 km',
 '100 000',
 '--',
 '150 000',
 '25000-29000',
 'entre 180000 KM 200000 KM',
 '74 138',
 '173 000',
 '300 000',
 '44000km',
 '200 000',
 '80mille',
 'Kilométrage:  70000',
 '55000-60000',
 '170 000 - 179 999',
 '110000-120000',
 '100 000 - 109 999',
 '70 000 - 74 999',
 ' 80 000 - 84 999',
 '110000-120000',
 '130 661 km',
 '95 000 - 99 999',
 '15 000 - 19 999',
 ' 130 000 - 139 999',
 '120 000 - 129 999',
 '180 000',
 '110 000 - 119 999',
 '88 000',
 '123 000',
 '64 500  ',
 '50 000',
 '83000 KM',
 '153 000 ',
 '195000km',
 '111 000',
 '57 000',
 '120 000- 129 999',
 '140 000 - 149 999',
 '25000-260000',
 '120 000 - 129 999',
 '90 000 - 94 999',
 '59 999 km',
 '105 000',
 '200 000',
 '150 000',
 '25000-260000',
 '0 - 4 999',
 '95000-99000',
 '110000-120000',
 '0 - 4 999',
 '110 000 - 119 999',
 '70 000 - 74 999',
 '110000 km',
 '25000-260000',
 '40000km',
 '0 - 4 999',
 ' 20 000 - 24 999 ',
 '100 000 - 109 999',
 '110 000 - 119 999 ',
 '170 000 - 179 999',
 '85 000 - 89 999',
 '65 000 - 69 999 ',
 '0 - 4 999 ',
 '20 000 - 24 999 ',
 '180 000 - 189 999',
 '130 000 - 139 999 ',
 '25 000 - 29 999',
 '45 000 - 49 999',
 '10 000 - 14 999',
 '70 000 - 74 999',
 '223 000',
 '25000-260000',
 '98000 km',
 '46 000',
 '190 000',
 '25000-260000',
 '160 000',
 '203000 KM',
 '78000 km ',
 '25000-260000',
 '134 000',
 '25000-260000',
 '50 0000',
 '134 000',
 '110000-119999',
 '148 000 ',
 '19600 km',
 '156 000',
 '11 000 km',
 '0-4999',
 '25000-260000',
 '100 000',
 'g',
 '200 000',
 '198 000',
 '60 000',
 '150000_190000',
 '70 000',
 '104000km',
 '35000 km',
 '25000-260000',
 '110 000',
 '140 000 - 149 000',
 '24 000',
 '25000-260000',
 '249.999',
 '256 000',
 '  90 00010',
 '120 000',
 '42,2',
 '42,2',
 '102 000',
 '500 000',
 ...]

In [45]:
kilometrage = dataframe["kilométrage"].apply(lambda x: '' if x != x or not re.search(r"\d", x) else x)
kilometrage

0        155000
1        160000
2
3         44000
5        228000
          ...
44813
44816
44817
44824
44825
Name: kilométrage, Length: 36622, dtype: object

In [46]:
pd.set_option('display.max_rows', 100)
pd.DataFrame(kilometrage.str.replace(r"( |\d)+", "").value_counts())

                     kilométrage
                           35290
km                           412
-                            407
KM                            99
.km                           64
,                             42
.                             37
.Km                           29
Km                            28
/                             22
_                             16
OOO                           15
kms                            9
-km                            8
.KM                            7
klm                            5
..                             5
\tkm                           4
k                              4
...                            4
alf                            4
p                              4
ooo                            3
.-.                            3
>                              3
plus                           3
,km                            3
plusde                         3
KMS                            3
E+                             3
environ                        3
O                              3
..km                           2
a                              2
⁴                              2
)                              2
ET                             2
km/                            2
plusque                        2
Mazdaavendre                   2
et                             2
.,                             2
.klm                           2
à                              1
Plusde                         1
Plus                           1
/klm                           1
,.km                           1
M                              1
.Kms                           1
plusquekm                      1
.Km²                           1
*                              1
OOOO                           1
f                              1
.kh/m                          1
entreKMKM                      1
+                              1
PRESQUE                        1
;                              1
xxx                            1
Fordfiesta.dieselbj            1
km/h                           1
Mkm                            1
ZZ                             1
mille                          1
PLUSDEKM                       1
inférieureà                    1
entrekmetkm                    1
.E+                            1
Kilométrage:                   1
Moin                           1
(km)                           1
l                              1
entreet                        1
maarafchbidabte                1
..KM                           1
MoinsdeKm                      1
Env.                           1
xxxx/xxx                       1
'                              1
-ppp                           1
k,                             1
Entreetkm                      1
km-                            1
K-K                            1
..klm                          1
OpelCorsa,.CDTI                1
,miles                         1
---                            1
OOOOkm                         1
lkhayle                        1
Km/Km                          1
ooooo                          1
\tKM                           1
~_                             1
<                              1
????                           1

In [47]:
value_counts = dict(kilometrage.str.replace(r"( |\d)+", "").value_counts())

to_remove = []
for key in value_counts:
    if value_counts[key] <= 22:
        to_remove.append(key)
        
to_remove

['/',
 '_',
 'OOO',
 'kms',
 '-km',
 '.KM',
 'klm',
 '..',
 '\tkm',
 'k',
 '...',
 'alf',
 'p',
 'ooo',
 '.-.',
 '>',
 'plus',
 ',km',
 'plusde',
 'KMS',
 'E+',
 'environ',
 'O',
 '..km',
 'a',
 '⁴',
 ')',
 'ET',
 'km/',
 'plusque',
 'Mazdaavendre',
 'et',
 '.,',
 '.klm',
 'à',
 'Plusde',
 'Plus',
 '/klm',
 ',.km',
 'M',
 '.Kms',
 'plusquekm',
 '.Km²',
 '*',
 'OOOO',
 'f',
 '.kh/m',
 'entreKMKM',
 '+',
 'PRESQUE',
 ';',
 'xxx',
 'Fordfiesta.dieselbj',
 'km/h',
 'Mkm',
 'ZZ',
 'mille',
 'PLUSDEKM',
 'inférieureà',
 'entrekmetkm',
 '.E+',
 'Kilométrage:',
 'Moin',
 '(km)',
 'l',
 'entreet',
 'maarafchbidabte',
 '..KM',
 'MoinsdeKm',
 'Env.',
 'xxxx/xxx',
 "'",
 '-ppp',
 'k,',
 'Entreetkm',
 'km-',
 'K-K',
 '..klm',
 'OpelCorsa,.CDTI',
 ',miles',
 '---',
 'OOOOkm',
 'lkhayle',
 'Km/Km',
 'ooooo',
 '\tKM',
 '~_',
 '<',
 '????']

In [48]:
kilometrage = kilometrage.apply(lambda x: '' if re.sub(r"( |\d)+", "", x) in to_remove else x)
kilometrage

0        155000
1        160000
2
3         44000
5        228000
          ...
44813
44816
44817
44824
44825
Name: kilométrage, Length: 36622, dtype: object

In [49]:
pd.set_option('display.max_rows', 100)
pd.DataFrame(kilometrage.str.replace(r"( |\d)+", "").value_counts())

     kilométrage
           35504
km           412
-            407
KM            99
.km           64
,             42
.             37
.Km           29
Km            28

In [50]:
kilometrage.str.replace(r"( |\d)+", "").unique()

array(['', 'Km', '-', 'km', '.', 'KM', '.km', ',', '.Km'], dtype=object)

In [51]:
re.findall(r"\d+", "12-45-87")

['12', '45', '87']

In [52]:
def clean_kilometrage(x):
    global maxLength
    
    if x == '':
        return None
    y = x
    
    x = re.sub(r"\s+", "", x)
    
    # 125784,00
    if re.search(",00$", x):
        x = re.sub(r",00$", "", x)
       
    # 125,000
    if re.search(",\d{3}$", x):
        x = re.sub(r",", "", x)
    
    # 14,5
    if re.search(",\d{1,2}$", x):
        x = re.sub(r",", "", x) + "00"
    
    # 31.500km
    if re.search("km$", x.lower()):
        x = re.sub(r"km$", "", x.lower())
        
    # 125784.00
    if re.search("\.00$", x):
        x = re.sub(r"\.00$", "", x)
       
    # 125.000
    if re.search("\.\d{3}$", x):
        x = re.sub(r"\.", "", x)
    
    # 14.5
    if re.search("\.\d{1,2}$", x):
        x = re.sub(r"\.", "", x) + "00"
        
    
    numbers = re.findall(r"\d+", x) # [number1, number2]

    if len(numbers) == 1:
        return float(numbers[0])
    else:
        return (float(numbers[0]) + float(numbers[1])) / 2

kilometrage = kilometrage.apply(clean_kilometrage)
kilometrage

0        155000.0
1        160000.0
2             NaN
3         44000.0
5        228000.0
           ...
44813         NaN
44816         NaN
44817         NaN
44824         NaN
44825         NaN
Name: kilométrage, Length: 36622, dtype: float64

In [53]:
dataframe["kilométrage"] = kilometrage
dataframe["kilométrage"]

0        155000.0
1        160000.0
2             NaN
3         44000.0
5        228000.0
           ...
44813         NaN
44816         NaN
44817         NaN
44824         NaN
44825         NaN
Name: kilométrage, Length: 36622, dtype: float64

In [54]:
dataframe.head(3)

,id,nom d'annonce,nom d'annonceur,téléphone,prix,ville,visite,année,kilométrage,carburant,puissance,marque,modèle,description,pub_hour,pub_day,pub_month,age d'article
0,8518045,Ford Fiesta a vendre,Chakir adil,060-631-3532,55000.0,Rabat,2.0,2005.0,155000.0,0.0,NaN,Ford,Fiesta,Une voiture à vendre marque ford Fiesta diesel...,21,22,12,16.0
1,8518030,Forf fiesta 2010,said,066-212-8670,65000.0,Mohammedia,1.0,2010.0,160000.0,1.0,7.0,Ford,Fiesta,Ford fiesta \n\r\n- modèle 2010 \r\n- Couleur ...,21,22,12,11.0
2,8518014,Xsara Picasso 2004 à vendre,Houda,062-020-6539,53000.0,Casablanca,2.0,2004.0,NaN,1.0,8.0,Citroen,Xsara Picasso,Je met en vente une Xsara Picasso modèle 2004 ...,21,22,12,17.0

<h3 style='color: rgba(0, 0, 0, 0.6); background: #fddddb; padding: 10px; border-radius: 25px;'>6. téléphone</h3>

In [55]:
telephone = dataframe["téléphone"].str.replace(r"-| ", "")
telephone

0        0606313532
1        0662128670
2        0620206539
3        0610655301
5        0633146833
            ...
44813    0632801417
44816    0695242566
44817    0662142208
44824    0613673483
44825    0661177950
Name: téléphone, Length: 36622, dtype: object

In [56]:
telephone[~telephone.str.contains(r"^(?:(?:\+|00)212|0)[5-7]\d{8}$")].unique()

array(['2.1266E+11', '2.12663E+11', '2.12618E+11', '2.12665E+11',
       '65878751', '33663579936', '66165875', '2.12669E+11', 'Téléphone:',
       '2.1262E+11', '661163774', '64177020', '64992593', '65887516',
       '2.12691E+11', '6017724', '1', '2060', '662783636', '2.12653E+11',
       '6616756728', '67264638', '67555029', '64094756', '683561790',
       '2.12662E+11', '41615439521', '67779884', '2.12661E+11',
       '28370843', '60186054', '2.12699E+11', '2.12658E+11',
       '2.12664E+11', '661739360', '611715984', '640437406',
       '21698259185', '2.12066E+12', '2.12622E+11', '642408897',
       '775324652', '33673999692', '66135662', '0487490482',
       '33627050023', '602974810', '34635418815', '628280014',
       '637171790', '61338433', '2.12666E+11', '66935049', '2.12615E+11',
       '7861130', '6009856', '66503404', '21261862372', '21244099363',
       '2.12628E+11', '66975558', '61334534', '0000000000', '61529307',
       '6504357853', '33665407405', '66378084', '3375696596',
       '__________', '0226775096', '0069864575', '2565565556',
       '063306330_', '0032485570', '066241512', '69622160', '2126708608',
       '061279797_', '33674821234', '65246542', '33602640633', '66307379',
       '661', '67303400', '2.12668E+11', '0', '34632378148',
       '2.12677E+11', '2.12629E+11', '2.12667E+11', '70635525',
       '33651921655', '6726605', '6750129', '625180126', '66260788',
       '66967410', '949785425', '6605758', '2.12672E+11', '625488645',
       '33616213800', '66206192', '33609832859', '2.11266E+12',
       '2.12698E+11', '0397584205', '60437465', '4.91521E+12', '67472535',
       '2.12675E+11', '61916162', '60104208', '3.80938E+11', '60137465',
       '6060111347', '2.12602E+11', '2.12627E+11', '6104030088',
       '60379171', '2.12099E+11', '66255021', '2.12631E+11', '61487717',
       '633916081', '3.30695E+11', '64790994', '06.46.80.23.94',
       '74767642', '21267323884', '66084006', '62123847', '66966163',
       '0890601300', '66856873', '10933891', '33662259501', '4745086239',
       '65341131', '64117204', '661299297', '66117385', '66400340',
       '2.12614E+11', '66199130', '2.1268E+11', '60680341234', '61119108',
       '2.12635E+11', '66360028', '61473342', '618599226', '2.12676E+11',
       '61945757', '6101542400', '33658004870', '66674620', '660510207',
       '67805994', '6000000', '22501940892', '63462604', '21266974882',
       '32488452731', '6061900357', '22222222', '62549226', '6162888381',
       '661717993', '65058248', '32489654189', '41787511960',
       '33752806703', '6457821', '66332845', '66450538449', '62615487',
       '1256935', '6647656001', '60603979708', '61313427468', '66292795',
       '2.12654E+11', '6', '0661557857/0627099282', '653248571',
       '65982784', '61400296', '66404119', '64006483', '2.12974E+11',
       '56027835', '66107837', '33652161798', '0890601000', '6667534430',
       '2.12673E+11', '33695364295', '6663661871', '1987', '6522982323',
       '6661569677', '62784333', '33980306088', '2.12674E+11', '73087158',
       '64565454', '33621339262', '2.12681E+11', '13431235',
       '21268794930', '67863852', '6517701157', '66006382', '67835885',
       '33663432851', '666173172', '664936815', '6677256613',
       '6617498312', '74928673', '64400650', '21261061243', '6649755651',
       '4.91575E+11', '2105426582', '6930321', '6136546', '6464180408',
       '0061514130', '66142127', '21234685896', '6251433254', '66208859',
       '2.12604E+11', '67900897', '6414341', '63482890', '6663111902',
       '31684897601', '4.91578E+11', '2.12616E+11', '653364578',
       '2.12679E+11', '44667435', '2126300387', '21261119772',
       '6007755099', '61098099', '30468094', '662', '33965895845',
       '6605714955', '66662675', '17604667', '33649831096', '34632922070',
       '63029000', '5145831467', '614676402', '2126045901', '664296528',
       '65131671', '3.93273E+11', '61247', '60031003', '61484316',
       '669339668', '6373728434', '696020799', '18161493', '2.12624E+11',
       '66169936', '66043588', '32488365242', '6664678820', '61493727',
       '2126511851', '6532711', '2.12633E+11', '22996329226', '65118438',
       '57474757', '73840239', '61339797', '33621357557', '10203040506',
       '6665545654', '687883034', '34651988891', '63766936', '67283252',
       '4.66736E+11', '66956951', '6634726229', '2.12656E+11',
       '6441000009', '62018584', '63085225', '64403872', '69330297',
       '66326737', '67508719', '6667681225', '63647905', '2.12601E+11',
       '34622008691', '2.12621E+11', '0068570698', '2.12689E+11',
       '61563833', '6616607763', '66193955', '98740285', '697929080',
       '76984521783', '6660350428', '6661498143', '33609182718',
       '6663777476', '61199280', '32476931452', '61145129', '67542890158',
       '0651*84*32*08', '60991200', '64785589', '6026483645',
       '6682030112', '67110095', '19799554', '0452879632', '661891109',
       '33756824752', '14943203', '33625223082', '63613188', '69949948',
       '60477919', '61517363', '66150989', '2.12609E+11', '10802522',
       '66187046', '62343456', '60783988', '638235877', '2.1267E+11',
       '67795140', '6667920347', '75', '63772765', '6679895059',
       '66705078', '68232443', '66775665', '614018208', '2.12643E+11',
       '70168248', '6714869', '6663554716', '662102994', '69364113',
       '58293843', '2.12626E+11', '661232534', '5426661111', '9654758475',
       '70938362', '0034650329', '654854809', '6610809233', '616043004',
       '2.12611E+11', '60666668', '34677648661', '2.12646E+11',
       '33662926978', '6.6281E+13', '629886735', '6143664444',
       '2126252498', '61375020', '2.12645E+11', '2125229962',
       '0033615364', '34986642976', '2.12523E+11', '32494783606',
       '35191842491', '9.05427E+11', '3.93279E+11', '2.1263E+11',
       '3465238327', '33785001140', '62974498', '6436067', '0961317816',
       '3.51928E+11', '6793772834', '32491964787', '32475238794',
       '33646180155', '34637834402', '33759145950', '6697799704',
       '3223500131', '21209281726', '33603791328', '14640069', '61256606',
       '5464885094', '61232761', '67312977', '660857857', '69288595',
       '33623055650', '63267772', '48248283', '6955151220', '2.12632E+11',
       '3.30643E+11', '061.32.94.91', '658847127', '33611155777',
       '61090982', '61998090', '33610250655', '21206215452',
       '99660000000', '72305471', '61445443', '650064780', '72077114',
       '6633607937', '66569194', '6610926944', '2.12671E+11', '66147793',
       '6.01734E+12', '67055423', '61645249', '21261112325', '603350',
       '61186978', '72784747', '671730761', '645345274', '646857265',
       '600000261', '0049176270', '14509260274', '33651718376'],
      dtype=object)

In [57]:
telephone.str.contains(r"^(?:(?:\+|00)212|0)[5-7]\d{8}$")

dataframe["téléphone"] = telephone.apply(lambda x: x if x and re.search(r"^(?:(?:\+|00)212|0)[5-7]\d{8}$", x) else None)
dataframe["téléphone"]

0        0606313532
1        0662128670
2        0620206539
3        0610655301
5        0633146833
            ...
44813    0632801417
44816    0695242566
44817    0662142208
44824    0613673483
44825    0661177950
Name: téléphone, Length: 36622, dtype: object

<h3 style='color: rgba(0, 0, 0, 0.6); background: #fddddb; padding: 10px; border-radius: 25px;'>7. description</h3>

In [58]:
dataframe["description"]

0        Une voiture à vendre marque ford Fiesta diesel...
1        Ford fiesta \n\r\n- modèle 2010 \r\n- Couleur ...
2        Je met en vente une Xsara Picasso modèle 2004 ...
3                           Toute options\r\nPremière main
5        OPEL INSIGNIA A VENDRE TOUTE OPTION NOIR prix ...
                               ...
44813    je mets en vente un jet sky Yamaha FZR préparé...
44816    Je mets en vente 40 bateaux gonflable neuf\r\n...
44817    Vend jet ski Rouge & Noir, 900 Ho\r\nDe marque...
44824    Zodiac 380cm marque jolly3 made frence n9iya t...
44825    je vend mon bateau marque Seadoo Bombardie. Mo...
Name: description, Length: 36622, dtype: object

In [59]:
dataframe["description"] = dataframe["description"].apply(lambda x: None if x != x else re.sub(r"\s+", " ", x)).str.lower()
dataframe["description"]

0        une voiture à vendre marque ford fiesta diesel...
1        ford fiesta - modèle 2010 - couleur gris d’arg...
2        je met en vente une xsara picasso modèle 2004 ...
3                              toute options première main
5        opel insignia a vendre toute option noir prix ...
                               ...
44813    je mets en vente un jet sky yamaha fzr préparé...
44816    je mets en vente 40 bateaux gonflable neuf poi...
44817    vend jet ski rouge & noir, 900 ho de marque se...
44824    zodiac 380cm marque jolly3 made frence n9iya t...
44825    je vend mon bateau marque seadoo bombardie. mo...
Name: description, Length: 36622, dtype: object

<h3 style='color: rgba(0, 0, 0, 0.6); background: #fddddb; padding: 10px; border-radius: 25px;'>8. ville</h3>

In [60]:
dataframe["ville"] = dataframe["ville"].str.lower()
dataframe["ville"].unique()

array(['rabat', 'mohammedia', 'casablanca', 'kénitra', 'fès', 'marrakech',
       'salé', 'safi', 'chafchaouen', 'oujda', 'agadir', 'temara',
       'berrechid', 'meknès', 'khemisset', 'tanger', 'beni mellal',
       'errachidia', 'boujdour', 'guercif', 'azrou', 'nador',
       'tout le maroc', 'larache', 'el jadida', 'settat', 'tetouan',
       'tantan', 'zagora', 'tiznit', 'sidi bennour', 'ouarzazate',
       'el hajeb', 'ouazzane', 'laayoune', 'taza', 'khouribga', 'sefrou',
       'benslimane', 'martil', 'aoussered', 'berkane', 'tinghir',
       'essaouira', 'bouskoura', 'dakhla', 'taroudant', 'autre ville',
       'guelmim', 'al hoceima', 'fkih ben salah', 'bouznika', 'tamesna',
       'khenifra', 'tifelt', 'sidi ifni', 'assilah', 'sidi kacem',
       'sidi rahal', 'ksar el kebir', 'midelt', 'kabila', 'ifrane',
       'essmara', 'tarfaya', nan, 'melilia', 'sebta', 'oualidia',
       'sidi slimane'], dtype=object)

<h3 style='color: rgba(0, 0, 0, 0.6); background: #fddddb; padding: 10px; border-radius: 25px;'>9. marque</h3>

In [61]:
dataframe["marque"].unique()

array(['Ford', 'Citroen', 'Renault', 'Opel', 'Fiat', 'Peugeot', 'Seat',
       'Jeep', 'Land rover', 'Volvo', 'Audi', 'Land Rover', 'Honda',
       'Toyota', 'Dacia', 'Mini', 'Mercedes-Benz', 'Kia', 'Hyundai', nan,
       'BMW', 'Nissan', 'Volkswagen', 'Alfa Romeo', 'Skoda', 'Ssangyong',
       'Chrysler', 'Chevrolet', 'Jaguar', 'Suzuki', 'Daihatsu', 'Smart',
       'TVR', 'Mazda', 'Mitsubishi', 'Isuzu', 'Rover', 'Porsche',
       'Hummer', 'Bmw', 'Chery', 'Aston Martin', 'Daewoo', 'Mercedes',
       'Maserati', 'Mahindra', 'Lexus', 'Lancia', 'Bertone', 'Ferrari',
       'Subaru', 'Dodge', 'Bentley', 'Ginetta', 'Alfa romeo', 'MG',
       'Rolls-Royce', 'Modèle: Freelander', 'Modèle: Discovery',
       'Infiniti', 'Gmc', 'Modèle: Defender', 'Cadillac', 'Santana',
       'Lada', 'Ford usa'], dtype=object)

In [62]:
dataframe["marque"] = dataframe["marque"].str.lower()
dataframe["marque"].unique()

array(['ford', 'citroen', 'renault', 'opel', 'fiat', 'peugeot', 'seat',
       'jeep', 'land rover', 'volvo', 'audi', 'honda', 'toyota', 'dacia',
       'mini', 'mercedes-benz', 'kia', 'hyundai', nan, 'bmw', 'nissan',
       'volkswagen', 'alfa romeo', 'skoda', 'ssangyong', 'chrysler',
       'chevrolet', 'jaguar', 'suzuki', 'daihatsu', 'smart', 'tvr',
       'mazda', 'mitsubishi', 'isuzu', 'rover', 'porsche', 'hummer',
       'chery', 'aston martin', 'daewoo', 'mercedes', 'maserati',
       'mahindra', 'lexus', 'lancia', 'bertone', 'ferrari', 'subaru',
       'dodge', 'bentley', 'ginetta', 'mg', 'rolls-royce',
       'modèle: freelander', 'modèle: discovery', 'infiniti', 'gmc',
       'modèle: defender', 'cadillac', 'santana', 'lada', 'ford usa'],
      dtype=object)

In [63]:
# modèle: discovery
# modèle: defender
# modèle: freelander

dataframe["marque"] = dataframe["marque"].str.replace("modèle: (discovery|defender|freelander)", "land rover")
dataframe["marque"].unique()

array(['ford', 'citroen', 'renault', 'opel', 'fiat', 'peugeot', 'seat',
       'jeep', 'land rover', 'volvo', 'audi', 'honda', 'toyota', 'dacia',
       'mini', 'mercedes-benz', 'kia', 'hyundai', nan, 'bmw', 'nissan',
       'volkswagen', 'alfa romeo', 'skoda', 'ssangyong', 'chrysler',
       'chevrolet', 'jaguar', 'suzuki', 'daihatsu', 'smart', 'tvr',
       'mazda', 'mitsubishi', 'isuzu', 'rover', 'porsche', 'hummer',
       'chery', 'aston martin', 'daewoo', 'mercedes', 'maserati',
       'mahindra', 'lexus', 'lancia', 'bertone', 'ferrari', 'subaru',
       'dodge', 'bentley', 'ginetta', 'mg', 'rolls-royce', 'infiniti',
       'gmc', 'cadillac', 'santana', 'lada', 'ford usa'], dtype=object)

<h3 style='color: rgba(0, 0, 0, 0.6); background: #fddddb; padding: 10px; border-radius: 25px;'>10. modèle</h3>

In [64]:
dataframe["modèle"].unique()

array(['Fiesta', 'Xsara Picasso', 'Clio', 'Insignia', 'Fluence', 'Uno',
       '307', '206', 'Leon', 'Ka', 'Compass', 'Discovery', 'Xc90', 'A4',
       'Range Rover Evoque', 'A1', '500', 'CR-V', 'Yaris',
       'TURNEO CONNECT', 'Cr_v', 'Logan', 'One D', 'Focus', 'Classe CLS',
       'Megane', 'Picanto', 'Corsa', 'IX35', 'V40', 'Berlingo', 'I10',
       nan, 'A5', '320D', '208', 'Corolla', 'H-1', '407', 'C5',
       'PATHFINDER', 'Polo', 'Passat', '301', 'I20', 'Jazz (2001)',
       'Ibiza', 'Fox', 'Serie 5', '159', 'C3', 'Rav 4', 'Civic', 'Kangoo',
       'Sandero', 'RANGE ROVER SPORT', 'Elantra', 'C4 Picasso', 'Octavia',
       'Actyon', 'COUNTRYMAN', 'Sebring', 'BIPPER', 'Aveo', 'TIGUAN',
       '508', 'Cherokee', '350', 'XKR', 'Golf', '206+', '300M', 'Tiguan',
       'TUCSON', 'C-Max', 'Serie 7', 'QASHQAI ~2', 'Cooper', 'C4',
       'Range Rover', 'Accent', 'Classe C', 'GUILIA', 'Tipo', 'Classe A',
       'Swift', 'YRV', '306', 'Symbol', 'Astra', 'JUKE', 'Gol', 'I30',
       'RAV 4', 'Scenic', 'DUSTER', 'Smart', 'X1', 'Freelander', 'Toledo',
       'Classe E', 'S-MAX', 'Serie 3', 'Caddy', 'Touareg', 'Marea',
       'Cerbera', 'Celerio', '205', 'QASHQAI', 'PARTNER TEPEE', 'Xsara',
       'Auris', 'Santa Fe', '405', '207', 'Sportage', 'Siena ELX', 'C220',
       'Paleo ELX', 'Grand cherokee', 'Vento', 'Mondeo', '190', 'Carens',
       '2', 'Legend', 'Grand Cherokee', 'Galaxy', 'Jetta', 'Duster', 'C6',
       'COLT', 'Rio', 'H-100', 'Palio', 'C 200', 'A8', 'Ix35', '308',
       'A3', 'Accord', 'Cooper Coupé', 'Cerato', '200', "C'eed",
       'Partner', 'Micra', 'GRANDE PUNTO', 'Doblo', 'Q5', 'NOTE',
       'Dokker', '19', 'Carry', 'Viano', 'KUGA', 'D_MAX', 'Punto',
       'Atos Prime', 'A7', 'Laguna', '309', 'Rexton', 'C1', 'JAZZ',
       '416 SI', 'C2', 'Cayenne', 'CLA', 'MACAN', 'Koleos', 'I40',
       'Wrangler', 'Pajero', '3008', 'Grand vitara', 'Range rover', 'H1',
       'MAXIMA', 'Land cruiser', 'RAPID', 'XF', 'Serie 6', 'K2700',
       'SPLASH', 'X5', 'Bava', '29', '520i', 'A6', 'XC60', 'City', '324D',
       'Tucson', 'CC', 'X6', '21', 'QQ', '207+', 'Santa fe', 'L 200',
       'CAPTIVA', 'X_trail', 'Korando', 'Siena', 'Camry', '106', 'R9',
       'X-Trail', 'C10', 'Espace', 'A2', 'RS3', 'Cruze', 'Alto', '320S',
       'Cavalier', 'Patrol', '523i', 'Coupe', 'PASSAT CC', 'FIORINO',
       'Grand Espace', 'TOURAN', 'Sorento', 'CARINA', 'GRANDIS',
       'Transit', 'SERIE 4', 'Defender', '@150', 'FOCUS C-MAX', 'Terrano',
       'Classe B', 'S60', '107', 'MOKKA', 'Fusion', '3', 'Altea',
       'Vitara', 'C15', 'Vito', 'Spark', 'Lagonda', 'Serie 1', 'DBS',
       'H2', 'Trafic', '2008', 'Q5 quattro s-line', 'Cordoba', 'Lanos',
       'TRANSPORTER', 'Superb', 'Stylo', 'OUTLANDER', 'Lancer', 'ORLANDO',
       'R19', 'Patriot', 'Roomster', 'CLASSE GL', '525', 'ZX', '300',
       'Master', '504', 'Paleo EL', 'Classe M', 'Panamera', '220',
       'Fabia', 'Cl', 'Corolla verso', 'Linea', 'KOLEOS', 'Ducato',
       'Classe m', '525 TDS', '325i', 'Starlet', 'C 180', 'Trooper',
       'Sprinter', 'LENTRA', 'SERIE 600', 'Lancia', 'Hi Ace', '318',
       'Captiva', 'Boxer', 'Mini', 'GHIBLI', 'Celica', 'Juke', 'PANDA',
       '105', '560', '250', 'Canter', 'Classe CL', 'Optra', 'Jumper',
       'GRAND KANGOO', 'MINI', '4CV', 'HILUX 2', 'Avantime', 'R11',
       'VENGA', 'Super 5', '605', '505', 'EOS', 'Avensis', 'Twingo',
       'Quattroporte', 'Picanto Rio', 'X-Type', 'AMAROK', 'Prado',
       'Qashqai', 'R4', 'GOLF+', 'S 350', '6', 'ZAFIRA TOURER',
       'C_CROSSER', 'Bora', 'X_TRAIL', 'Classe CLK', 'LAND CRUISER',
       '500L', 'Almera', 'Goa', 'Sunny', 'Galant', 'Cooper S Coupé',
       'Grand Vitara', 'Q7', 'ONE', '406', 'Classe S', '80', 'FREEMONT',
       'Primera', '318i', 'Tercel', '530D', 'IS 200', 'Panda', 'Tepee',
       'Kyron', '806', 'Sirion', 'Xc60', 'ALFETTA', 'F350', 'Terios',
       'Tiida', 'Bravo', 'Ypsilon', 'A516', '323', '305', 'Phaeton',
       'Classe g', 'Q3', 'Vectra', 'R8', 'Tempra', 'Infiniti',
       'Range rover sport', 'Amarok', 'VERSO', 'LAND CRUISER SW', 'VANEO',
       'AX', 'XJ6', '208D', 'XK8', 'Mustang', 'Ulysse', 'C.E270',
       'Nubira', 'Freeclimber', '250 D', 'S80', 'Ix55', 'Hilux', 'Jimny',
       'Latitude', '403', 'F430', '147', 'Prius', 'Sx4',
       'Grand Vitara XL-7', 'Demio', 'Cooper S Cabrio', 'PUNTO EVO',
       'SERIE 3 GT', 'C30', 'PT Cruiser', 'CX-9', 'BX', 'MPV', 'E 270',
       '156', 'Xantia', 'HHR', 'Expert', 'Agila', 'Albea', '240D',
       'Express', '330', 'Beetle', '607', 'Sharan', 'Saxo', 'S-Type',
       'Alhambra', 'Zafira', 'Magentis', 'Yaris Verso', '216i', 'CLK',
       'CLS 320', 'Carnival', '75', 'S280', 'Escort', 'HILUX', 'Murano',
       'Prelude', 'Epica', 'C8', 'Safrane', 'Cabrio', '850', 'Matiz',
       'Santana', 'Wagon R', 'GT', 'Vanquish', 'Carisma', 'Classe SL',
       '180', '45', 'Crossblade', 'Optima', 'Impreza', '600 SI', 'RANGER',
       'Applause', 'Vel Satis', 'Solenzo', '350Z', 'Mito', 'Pick up',
       'PACEMAN', 'Speedster', 'Maruti', 'HR-V', 'Classe SLK', 'Meriva',
       '131', 'Pick Up', 'Avenger', 'Pinto', 'Premacy', 'GTV', '928 GTS',
       'Tigra', 'URBAN CRUISER', '164', 'Scirocco', 'Copen YRV',
       'C3 Picasso', 'Sonata', 'Ignis', 'Charade', 'Maxima QX', '626',
       'Delta', '807', 'Cayman', 'TT', 'L200', 'Continental R', 'S2000',
       'ASX', 'S4', 'Camaro', 'Big ruckus', 'ALTEA FREETRACK', 'Vigor',
       '325', 'Ranger', 'Aygo', 'RCZ', 'S5', 'DB9', 'S40', 'Sovreign',
       '25', 'Combo', 'RX-8', 'ForTwo', 'R18', 'Domino', 'Genesis',
       'MP4-12C', 'Z3', 'Atos', 'CEE D', 'Cooper S', 'Caliber', '370Z',
       'A113', 'Tiggo', 'I3', 'MX-5', 'california', '128', '911 Turbo',
       'Cooper Cabrio', 'Legacy', '280 SEL', 'SPACE WAGON', 'XJ', 'Jumpy',
       'John Cooper Works Cabrio', 'Voyager', 'Soul', '404', 'CX_9',
       'G 33', '5008', 'SEICENTO', 'QQ6', 'SC 430', 'RS4', 'Touran',
       'Leganza', 'Cooper D Paceman', 'SLK', 'CORRADO', 'Arnage', '2500',
       'John Cooper works', 'S3', 'CAPRI', 'Trans Sport', '104',
       'SILVERADO', 'SIGNUM', 'Z4', 'S6', 'Opirus', 'Altima', 'Rodeo',
       'LS', 'Modus', 'Boxster', 'GRANTURISMO', 'UP', 'IDEA',
       'Cooper clubman', 'Cooper Countryman', 'MALIBU', 'Y10', 'V525',
       'Vario', 'TRAX', '3000 GT', 'CLASSE CLC', 'One D Clubman', 'RS6',
       'Grand Voyager', 'F250', 'Korando KJ', 'Cooper D', 'Landwind',
       'SPIDER', 'MODEL F', 'Continental GT', 'TTS', 'VIVARO', '127',
       'Vantage', 'J5', 'MULTIPLA', 'CLS 55', '304', 'Galloper', '300 sl',
       'S8', 'Inca', '1800', 'BT_50', 'Austin', 'PROBE', 'x4', '@125',
       'X3', 'Caravelle', 'SX4', 'SHUTTLE', 'Brera', 'ASCONA',
       'SERIE 400', 'Scudo', '412', 'SIERRA', 'GLA', 'PRO CEE D',
       '505 RXH', '230', 'Bolero', 'AZERA', 'Kuga', 'INSIGHT', 'TF',
       'Cooper D Cabrio', 'GRAND SCENIC', '166', 'Nativa', 'BALENO',
       'Tahoe', 'CLASSE R', 'Mulsanne', 'MATERIA', 'Cooper S Countryman',
       'Sebring DÃ©capotable', 'GS 300', 'WAGON R+', 'BUGGY', 'Liberty',
       'KADETT', 'XM', 'RX', 'Ritmo', 'MR', 'NAVARA', 'LS 430', 'WRX STI',
       '300C', 'ONDINE', 'Corvette', 'Cabriolet', 'City Coupe', 'MATIZ',
       'Pajero Sport', '5', '360', 'Classe glk', 'xk', 'Exeo', '599',
       'Cooper S Paceman', '146', 'ZT', 'PHANTOM', 'Iltis', 'COMPASS',
       '360 Mondena', '3200 GT', 'Address 110', '32', 'Cooper SD Coupé',
       'PATRIOT', 'SX4 S-CROSS', 'R6', '450', 'YETI', '7', 'COCCINELLE',
       'MAVERICK', 'R25', 'XJ8', 'ADAM', 'KALOS', 'Space Star', 'RX 300',
       'Viper', 'Neon', 'MUSA', '600', 'C70', '1007', 'Continental T',
       '126', '203', 'FJ', 'VELOSTER', 'ZOE', 'Musso', 'Chimaera',
       'Sedici', 'Outlander', 'Pathfinder', 'Explorer', 'F150',
       'Terracan', 'Nitro', 'Navara', 'Samurai', 'Ex', 'Yukon',
       'Frontera', 'Highlander', 'Cx_9', 'A4 allroad', 'HIGHLANDER',
       'Escalade', 'Pajero sport', 'Ps10', '4runner', 'H3', 'Classe G',
       'Veracruz', 'Actyon sports', 'JOURNEY', 'Q5 QUATTRO S-LINE',
       'WILLYS', 'Land cruiser sw', 'Blazer', 'Ram', 'Grand vitara xl_7',
       'SERIE 100', 'IX55', 'X4', 'Family', 'SINTRA', 'Rx', 'Fj cruiser',
       'Armada', 'Pajero Pinin', 'AVALANCHE', 'IX20', 'Qashqai ~2',
       'D_max', 'Up', 'ARMADA', 'Antara', 'Expedition', 'Niva', 'TD',
       'Ridglile', 'Montero', 'C_crosser', 'SQ5'], dtype=object)

In [65]:
dataframe["modèle"] = dataframe["modèle"].str.lower()
dataframe["modèle"].unique()

array(['fiesta', 'xsara picasso', 'clio', 'insignia', 'fluence', 'uno',
       '307', '206', 'leon', 'ka', 'compass', 'discovery', 'xc90', 'a4',
       'range rover evoque', 'a1', '500', 'cr-v', 'yaris',
       'turneo connect', 'cr_v', 'logan', 'one d', 'focus', 'classe cls',
       'megane', 'picanto', 'corsa', 'ix35', 'v40', 'berlingo', 'i10',
       nan, 'a5', '320d', '208', 'corolla', 'h-1', '407', 'c5',
       'pathfinder', 'polo', 'passat', '301', 'i20', 'jazz (2001)',
       'ibiza', 'fox', 'serie 5', '159', 'c3', 'rav 4', 'civic', 'kangoo',
       'sandero', 'range rover sport', 'elantra', 'c4 picasso', 'octavia',
       'actyon', 'countryman', 'sebring', 'bipper', 'aveo', 'tiguan',
       '508', 'cherokee', '350', 'xkr', 'golf', '206+', '300m', 'tucson',
       'c-max', 'serie 7', 'qashqai ~2', 'cooper', 'c4', 'range rover',
       'accent', 'classe c', 'guilia', 'tipo', 'classe a', 'swift', 'yrv',
       '306', 'symbol', 'astra', 'juke', 'gol', 'i30', 'scenic', 'duster',
       'smart', 'x1', 'freelander', 'toledo', 'classe e', 's-max',
       'serie 3', 'caddy', 'touareg', 'marea', 'cerbera', 'celerio',
       '205', 'qashqai', 'partner tepee', 'xsara', 'auris', 'santa fe',
       '405', '207', 'sportage', 'siena elx', 'c220', 'paleo elx',
       'grand cherokee', 'vento', 'mondeo', '190', 'carens', '2',
       'legend', 'galaxy', 'jetta', 'c6', 'colt', 'rio', 'h-100', 'palio',
       'c 200', 'a8', '308', 'a3', 'accord', 'cooper coupé', 'cerato',
       '200', "c'eed", 'partner', 'micra', 'grande punto', 'doblo', 'q5',
       'note', 'dokker', '19', 'carry', 'viano', 'kuga', 'd_max', 'punto',
       'atos prime', 'a7', 'laguna', '309', 'rexton', 'c1', 'jazz',
       '416 si', 'c2', 'cayenne', 'cla', 'macan', 'koleos', 'i40',
       'wrangler', 'pajero', '3008', 'grand vitara', 'h1', 'maxima',
       'land cruiser', 'rapid', 'xf', 'serie 6', 'k2700', 'splash', 'x5',
       'bava', '29', '520i', 'a6', 'xc60', 'city', '324d', 'cc', 'x6',
       '21', 'qq', '207+', 'l 200', 'captiva', 'x_trail', 'korando',
       'siena', 'camry', '106', 'r9', 'x-trail', 'c10', 'espace', 'a2',
       'rs3', 'cruze', 'alto', '320s', 'cavalier', 'patrol', '523i',
       'coupe', 'passat cc', 'fiorino', 'grand espace', 'touran',
       'sorento', 'carina', 'grandis', 'transit', 'serie 4', 'defender',
       '@150', 'focus c-max', 'terrano', 'classe b', 's60', '107',
       'mokka', 'fusion', '3', 'altea', 'vitara', 'c15', 'vito', 'spark',
       'lagonda', 'serie 1', 'dbs', 'h2', 'trafic', '2008',
       'q5 quattro s-line', 'cordoba', 'lanos', 'transporter', 'superb',
       'stylo', 'outlander', 'lancer', 'orlando', 'r19', 'patriot',
       'roomster', 'classe gl', '525', 'zx', '300', 'master', '504',
       'paleo el', 'classe m', 'panamera', '220', 'fabia', 'cl',
       'corolla verso', 'linea', 'ducato', '525 tds', '325i', 'starlet',
       'c 180', 'trooper', 'sprinter', 'lentra', 'serie 600', 'lancia',
       'hi ace', '318', 'boxer', 'mini', 'ghibli', 'celica', 'panda',
       '105', '560', '250', 'canter', 'classe cl', 'optra', 'jumper',
       'grand kangoo', '4cv', 'hilux 2', 'avantime', 'r11', 'venga',
       'super 5', '605', '505', 'eos', 'avensis', 'twingo',
       'quattroporte', 'picanto rio', 'x-type', 'amarok', 'prado', 'r4',
       'golf+', 's 350', '6', 'zafira tourer', 'c_crosser', 'bora',
       'classe clk', '500l', 'almera', 'goa', 'sunny', 'galant',
       'cooper s coupé', 'q7', 'one', '406', 'classe s', '80', 'freemont',
       'primera', '318i', 'tercel', '530d', 'is 200', 'tepee', 'kyron',
       '806', 'sirion', 'alfetta', 'f350', 'terios', 'tiida', 'bravo',
       'ypsilon', 'a516', '323', '305', 'phaeton', 'classe g', 'q3',
       'vectra', 'r8', 'tempra', 'infiniti', 'verso', 'land cruiser sw',
       'vaneo', 'ax', 'xj6', '208d', 'xk8', 'mustang', 'ulysse', 'c.e270',
       'nubira', 'freeclimber', '250 d', 's80', 'ix55', 'hilux', 'jimny',
       'latitude', '403', 'f430', '147', 'prius', 'sx4',
       'grand vitara xl-7', 'demio', 'cooper s cabrio', 'punto evo',
       'serie 3 gt', 'c30', 'pt cruiser', 'cx-9', 'bx', 'mpv', 'e 270',
       '156', 'xantia', 'hhr', 'expert', 'agila', 'albea', '240d',
       'express', '330', 'beetle', '607', 'sharan', 'saxo', 's-type',
       'alhambra', 'zafira', 'magentis', 'yaris verso', '216i', 'clk',
       'cls 320', 'carnival', '75', 's280', 'escort', 'murano', 'prelude',
       'epica', 'c8', 'safrane', 'cabrio', '850', 'matiz', 'santana',
       'wagon r', 'gt', 'vanquish', 'carisma', 'classe sl', '180', '45',
       'crossblade', 'optima', 'impreza', '600 si', 'ranger', 'applause',
       'vel satis', 'solenzo', '350z', 'mito', 'pick up', 'paceman',
       'speedster', 'maruti', 'hr-v', 'classe slk', 'meriva', '131',
       'avenger', 'pinto', 'premacy', 'gtv', '928 gts', 'tigra',
       'urban cruiser', '164', 'scirocco', 'copen yrv', 'c3 picasso',
       'sonata', 'ignis', 'charade', 'maxima qx', '626', 'delta', '807',
       'cayman', 'tt', 'l200', 'continental r', 's2000', 'asx', 's4',
       'camaro', 'big ruckus', 'altea freetrack', 'vigor', '325', 'aygo',
       'rcz', 's5', 'db9', 's40', 'sovreign', '25', 'combo', 'rx-8',
       'fortwo', 'r18', 'domino', 'genesis', 'mp4-12c', 'z3', 'atos',
       'cee d', 'cooper s', 'caliber', '370z', 'a113', 'tiggo', 'i3',
       'mx-5', 'california', '128', '911 turbo', 'cooper cabrio',
       'legacy', '280 sel', 'space wagon', 'xj', 'jumpy',
       'john cooper works cabrio', 'voyager', 'soul', '404', 'cx_9',
       'g 33', '5008', 'seicento', 'qq6', 'sc 430', 'rs4', 'leganza',
       'cooper d paceman', 'slk', 'corrado', 'arnage', '2500',
       'john cooper works', 's3', 'capri', 'trans sport', '104',
       'silverado', 'signum', 'z4', 's6', 'opirus', 'altima', 'rodeo',
       'ls', 'modus', 'boxster', 'granturismo', 'up', 'idea',
       'cooper clubman', 'cooper countryman', 'malibu', 'y10', 'v525',
       'vario', 'trax', '3000 gt', 'classe clc', 'one d clubman', 'rs6',
       'grand voyager', 'f250', 'korando kj', 'cooper d', 'landwind',
       'spider', 'model f', 'continental gt', 'tts', 'vivaro', '127',
       'vantage', 'j5', 'multipla', 'cls 55', '304', 'galloper', '300 sl',
       's8', 'inca', '1800', 'bt_50', 'austin', 'probe', 'x4', '@125',
       'x3', 'caravelle', 'shuttle', 'brera', 'ascona', 'serie 400',
       'scudo', '412', 'sierra', 'gla', 'pro cee d', '505 rxh', '230',
       'bolero', 'azera', 'insight', 'tf', 'cooper d cabrio',
       'grand scenic', '166', 'nativa', 'baleno', 'tahoe', 'classe r',
       'mulsanne', 'materia', 'cooper s countryman',
       'sebring dã©capotable', 'gs 300', 'wagon r+', 'buggy', 'liberty',
       'kadett', 'xm', 'rx', 'ritmo', 'mr', 'navara', 'ls 430', 'wrx sti',
       '300c', 'ondine', 'corvette', 'cabriolet', 'city coupe',
       'pajero sport', '5', '360', 'classe glk', 'xk', 'exeo', '599',
       'cooper s paceman', '146', 'zt', 'phantom', 'iltis', '360 mondena',
       '3200 gt', 'address 110', '32', 'cooper sd coupé', 'sx4 s-cross',
       'r6', '450', 'yeti', '7', 'coccinelle', 'maverick', 'r25', 'xj8',
       'adam', 'kalos', 'space star', 'rx 300', 'viper', 'neon', 'musa',
       '600', 'c70', '1007', 'continental t', '126', '203', 'fj',
       'veloster', 'zoe', 'musso', 'chimaera', 'sedici', 'explorer',
       'f150', 'terracan', 'nitro', 'samurai', 'ex', 'yukon', 'frontera',
       'highlander', 'a4 allroad', 'escalade', 'ps10', '4runner', 'h3',
       'veracruz', 'actyon sports', 'journey', 'willys', 'blazer', 'ram',
       'grand vitara xl_7', 'serie 100', 'family', 'sintra', 'fj cruiser',
       'armada', 'pajero pinin', 'avalanche', 'ix20', 'antara',
       'expedition', 'niva', 'td', 'ridglile', 'montero', 'sq5'],
      dtype=object)

<h3 style='color: rgba(0, 0, 0, 0.6); background: #fddddb; padding: 10px; border-radius: 25px;'>11. nom d'annonce</h3>

In [66]:
dataframe["nom d'annonce"] = dataframe["nom d'annonce"].str.lower()

In [67]:
dataframe["nom d'annonce"]

0                     ford fiesta a vendre
1                         forf fiesta 2010
2              xsara picasso 2004 à vendre
3                             clio 4 bleue
5                            opel insignia
                       ...
44813                     jet sky 1800 fzr
44816    40 zodiac  neuf poids entre 92 kg
44817                 jet ski rouge & noir
44824                         zodiac 380cm
44825     bateau seadoo bombardie à vendre
Name: nom d'annonce, Length: 36622, dtype: object

---

In [68]:
dataframe.head(5)

,id,nom d'annonce,nom d'annonceur,téléphone,prix,ville,visite,année,kilométrage,carburant,puissance,marque,modèle,description,pub_hour,pub_day,pub_month,age d'article
0,8518045,ford fiesta a vendre,Chakir adil,0606313532,55000.0,rabat,2.0,2005.0,155000.0,0.0,NaN,ford,fiesta,une voiture à vendre marque ford fiesta diesel...,21,22,12,16.0
1,8518030,forf fiesta 2010,said,0662128670,65000.0,mohammedia,1.0,2010.0,160000.0,1.0,7.0,ford,fiesta,ford fiesta - modèle 2010 - couleur gris d’arg...,21,22,12,11.0
2,8518014,xsara picasso 2004 à vendre,Houda,0620206539,53000.0,casablanca,2.0,2004.0,NaN,1.0,8.0,citroen,xsara picasso,je met en vente une xsara picasso modèle 2004 ...,21,22,12,17.0
3,8517942,clio 4 bleue,Amine oubriri,0610655301,84000.0,casablanca,1.0,2017.0,44000.0,0.0,7.0,renault,clio,toute options première main,18,22,12,4.0
5,8517814,opel insignia,MEKKAOUI,0633146833,81500.0,casablanca,1.0,2010.0,228000.0,0.0,8.0,opel,insignia,opel insignia a vendre toute option noir prix ...,17,22,12,11.0

In [69]:
dataframe.to_csv('MarocAnnoncesDataset_corrected.csv')